<div class="register-form">
  <form
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && onSubmit()"
    novalidate
  >
    <div class="form-group">
      <label>Item</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="form.title"
        minlength="2"
        required
        #title="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && title.errors }"
      />
      <div *ngIf="f.submitted && title.errors" class="invalid-feedback">
        <div *ngIf="title.errors['required']">Item is required</div>
        <div *ngIf="title.errors['minlength']">
          Item must be at least 2 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Quantity</label>
      <input
        type="number"
        class="form-control"
        name="quantity"
        [(ngModel)]="form.quantity"
        required
        number
        #quantity="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && quantity.errors }"
      />
      <div *ngIf="f.submitted && quantity.errors" class="invalid-feedback">
        <div *ngIf="quantity.errors['required']">
          Quantity is required to be a valid number
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea
        type="text"
        class="form-control"
        name="description"
        [(ngModel)]="form.description"
        maxlength="1024"
        description
        #description="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && description.errors }"
        >{{ form.description }}</textarea
      >
      <div *ngIf="f.submitted && description.errors" class="invalid-feedback">
        <div *ngIf="description.errors['maxlength']">
          Description must be at most 1024 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Priority</label>
      <select
        type="priority"
        class="form-control"
        name="priority"
        [(ngModel)]="form.priority"
        required
        priority
        #priority="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && priority.errors }"
      >
        <option *ngFor="let priority of priorities" value="{{ priority }}">
          {{ priority | uppercaseWords }}
        </option>
      </select>
      <div *ngIf="f.submitted && priority.errors" class="invalid-feedback">
        <div *ngIf="priority.errors['required']">Priority is required</div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
      <button
        type="button"
        (click)="onReset(f)"
        class="btn btn-warning float-right"
      >
        Reset
      </button>
    </div>
  </form>
</div>
