.flex-navbar {
  display: flex;
  border-bottom: 3px solid #000000;
  background-color:#FFF;
}
.center-spacer {
  flex: 1 1 auto;
}

a.label img {
  width: 6.25em;
  height: 3em;
  margin: 3px 0px 0px 15px;
}
