<mat-toolbar-row class="flex-navbar">
  <a routerLink="home" class="label">
    <img src="../../assets/logo.png" />
  </a>
  <button
    mat-icon-button
    routerLink="containers"
    *ngIf="this.authServ.isLoggedIn"
    matTooltip="Categories"
  >
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="openAddDialog()"
    *ngIf="this.authServ.isLoggedIn"
    matTooltip="Add item"
  >
    <mat-icon fontIcon="add"></mat-icon>
  </button>
  <button
    *ngIf="this.authServ.isLoggedIn"
    mat-icon-button
    (click)="toggleSelectMultiple()"
    matTooltip="Select Multiple"
  >
    <mat-icon *ngIf="this.item.selectMultiple" fontIcon="undo"></mat-icon>
    <mat-icon *ngIf="!this.item.selectMultiple" fontIcon="check_box"></mat-icon>
  </button>

  <button
    mat-icon-button
    *ngIf="this.item.selectedItems.length > 0"
    (click)="this.item.handleDeleteSelected()"
    matTooltip="Delete Selected Items"
  >
    <mat-icon fontIcon="delete"></mat-icon>
  </button>

  <span class="center-spacer"></span>

  <button
    mat-icon-button
    routerLink=""
    *ngIf="!this.authServ.isLoggedIn"
    matTooltip="Sign Up"
  >
    <mat-icon fontIcon="app_registration"></mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="handleSignOut()"
    *ngIf="this.authServ.isLoggedIn"
    matTooltip="Sign out"
  >
    <mat-icon fontIcon="logout"></mat-icon>
  </button>
</mat-toolbar-row>
