.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
mat-list-item {
  cursor: pointer;
}
mat-list-item:hover {
  left: 10px;
}

@keyframes flash {
  0% {
    background-color: #ff1e1e;
  }
  50% {
    background-color: rgb(255, 94, 94);
  }
  100% {
    background-color: #ff1e1e;
  }
}

.extrahigh {
  animation: flash 0.4s infinite;
}
.extrahigh:hover {
  animation: none;
  color: black;
  background-color: #ff1e1e;
}
.high {
  background-color: #ffcac8;
}
.medium {
  background-color: #fffda2;
}
.low {
  background-color: #b3ffae;
}

app-item-details {
  padding: 0px 15px;
}

div.add-btn {
  text-align: center;
}
div.add-btn button {
  margin: 15px 0px 15px 0px;
}

.container-info {
    text-align:center;
    margin: 1em 0px 1em 0px;
}
.container-info span {
    display: inline-block;
    width:30%;
}
.container-info span h2 {
    float:left;
    text-transform: uppercase;
}
.container-info span img {
    float:left;
    border-radius: 50%;
    max-width: 135px;
  max-height: 135px;
}
.container-info span p {
    display:inline-block;
}