.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
mat-list-item {
    cursor: pointer;
}
mat-list-item:hover {
    left: 10px;
}

@keyframes flash {
    0% {
        background-color: #ff8a82;
    }
    50% {
        background-color: rgb(255, 94, 94);
    }
    100% {
        background-color: #ff8a82;
    }
}

.extrahigh {
    animation: flash 0.4s infinite;
}
.extrahigh:hover {
    animation: none;
    color: black;
    background-color: #ff746a;
}
.high {
    background-color: #ff8a82;
}
.medium {
    background-color: #98ffaa;
}
.low {
    background-color: #709bb8;
}

app-item-details {
    padding: 0px 15px;
}
