<mat-card>
  <mat-card>
    <div class="loadingicon" *ngIf="!hasItems">
      <mat-spinner></mat-spinner>
    </div>
    <mat-list *ngIf="hasItems">
      <div matRipple *ngFor="let item of items; let i = index">
        <mat-divider *ngIf="i !== 0"></mat-divider>
        <mat-list-item
          [ngClass]="item.priorityClass"
          [class.active]="item.id == currentItemId"
          (click)="redirectToItem(item.id, i)"
        >
          <mat-checkbox
            value="{{ item.id }}"
            *ngIf="this.itemService.selectMultiple"
            (change)="updateCheckbox($event)"
          ></mat-checkbox>
          <mat-icon
          fontIcon="arrow_right"
          *ngIf="item.id == currentItemId"
        ></mat-icon>
          <mat-icon
            fontIcon="priority_high"
            *ngIf="item.priority == 'extra high'"
          ></mat-icon>
          {{ item.title }}
        </mat-list-item>
      </div>
    </mat-list>
  </mat-card>
  <mat-card *ngIf="currentItem">
    <app-item-details (refreshList)="refreshList()"></app-item-details>
  </mat-card>
</mat-card>
