.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
.list-group-item {
    cursor: pointer;
}
.list-group-item:hover {
    left: 3px;
}


li:has(.badge-danger) {
    border: 1px solid rgba(0,0,0,.125); /* start with a transparent border */
    /*border-radius: 5px; /* adjust border radius as needed */
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7) inset; /* initial box shadow */
    animation: pulse 2s infinite; /* pulse animation with 2 seconds duration */

    /* Optional: Adjust the size and padding if needed */
    /*padding: 10px;*/
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7) inset; /* start with a small shadow */
    }
    50% {
        box-shadow: 0 0 0 10px rgba(0, 0, 255, 0) inset; /* increase shadow size */
    }
    100% {
        box-shadow: 0 0 0 0 rgb(255, 255, 255) inset; /* return to no shadow */
    }
}