<div style="text-align: center">
  <div *ngIf="!webcamImage">
    <webcam
      class="mmmcam"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      *ngIf="showWebcam"
      [allowCameraSwitch]="allowCameraSwitch"
      [switchCamera]="nextWebcamObservable"
      [videoOptions]="videoOptions"
      [imageQuality]="1"
      (cameraSwitched)="cameraWasSwitched($event)"
      (initError)="handleInitError($event)"
    ></webcam>
    <br />
    <button mat-fab (click)="triggerSnapshot()">
      <mat-icon fontIcon="camera"></mat-icon>
    </button>
    <!--button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
      <br/-->
    <button
      mat-fab
      extended
      (click)="showNextWebcam(true)"
      [disabled]="!multipleWebcamsAvailable"
    >
      <mat-icon fontIcon="cameraswitch"></mat-icon> Switch Camera
    </button>

    <button type="button" mat-raised-button (click)="fileInput.click()">
      Upload image
    </button>
    <input hidden (change)="onFileSelected($event)" #fileInput type="file" />
    <span class="file-name">{{ selectedFile?.name }}</span>
    <!--input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Allow Camera Switch</label>
      <br/>
      DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
      <button (click)="showNextWebcam(deviceId);">Activate</button-->
  </div>
</div>

<div class="snapshot" *ngIf="webcamImage">
  <h2>Image captured!</h2>
  <img [src]="webcamImage.imageAsDataUrl" />
  <button mat-fab (click)="resetCamera()">
    <mat-icon fontIcon="refresh"></mat-icon>
  </button>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{ error | json }}</li>
</ul>
