<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">mmmaske</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="list" class="nav-link">Items</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Add</a>
        </li>
        <li class="nav-item">
          <a routerLink="auth" class="nav-link">User</a>
        </li>
        <li class="nav-item">
          <a routerLink="signup" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item">
          <a routerLink="signin" class="nav-link">Sign In</a>
        </li>
      </div>
    </nav>

    <span class="glyphicon glyphicon-refresh glyphicon-spin spinner"></span>
    <div class="container mt-3">
      <h2>{{ title }}</h2>
      <router-outlet></router-outlet>
    </div>
  </div>
