<div *ngIf="currentItem" class="edit-form">
  <form>
    <div class="w3column" style="background-color: #aaa">
      <div class="form-group">
        <div *ngIf="edit">
          <app-camera-input
            (dataEvent)="handleDataFromChild($event)"
          ></app-camera-input>
        </div>
        <div class="product-image" *ngIf="!edit && fs_image">
          <img class="gentle-glow" src="{{ fs_image }}" />
        </div>
      </div>
    </div>
    <div class="w3column" style="background-color: #bbb">
      <button
        mat-fab
        extended
        *ngIf="!edit"
        routerLink="/container/{{ currentItem.containerRef.id }}"
      >
        <mat-icon fontIcon="arrow_back"></mat-icon>
      </button>
      <div *ngIf="edit">
        <mat-form-field>
          <mat-label for="title">Title</mat-label>
          <input
            matInput
            type="text"
            id="title"
            [(ngModel)]="currentItem.title"
            name="title"
          />
        </mat-form-field>
      </div>
      <h4 *ngIf="!edit">
        <b>{{ currentItem.title }}</b>
        <small *ngIf="currentItem.quantity">
          x{{ currentItem.quantity }}
          <span *ngIf="currentItem.estimatedPrice">
            @ P{{ currentItem.estimatedPrice | number: "1.2-2" }}
          </span>
          <span *ngIf="currentItem.estimatedPrice && currentItem.quantity">
            (P{{
              currentItem.quantity * currentItem.estimatedPrice
                | number: "1.2-2"
            }}
            total)
          </span>
        </small>
      </h4>

      <mat-form-field *ngIf="edit">
        <mat-label for="quantity">Quantity</mat-label>
        <input
          matInput
          type="text"
          id="quantity"
          [(ngModel)]="currentItem.quantity"
          name="quantity"
        />
      </mat-form-field>
      <mat-form-field *ngIf="edit">
        <mat-label for="estimatedPrice">Estimated Price</mat-label>
        <input
          matInput
          type="text"
          id="estimatedPrice"
          [(ngModel)]="currentItem.estimatedPrice"
          name="estimatedPrice"
        />
      </mat-form-field>
      <mat-form-field *ngIf="edit">
        <mat-label for="description">Description</mat-label>
        <textarea
          matInput
          type="text"
          id="description"
          [(ngModel)]="currentItem.description"
          name="description"
          >{{ currentItem.description }}</textarea
        >
      </mat-form-field>
      <p *ngIf="!edit">{{ currentItem.description }}</p>

      <mat-form-field *ngIf="edit">
        <mat-label for="priority">Priority</mat-label>
        <mat-select
          matNativeControl
          id="priority"
          required
          [(ngModel)]="currentItem.priority"
          name="priority"
        >
          <mat-option
            *ngFor="let priority of priorities"
            value="{{ priority }}"
            >{{ priority | uppercaseWords }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentItem.purchased ? "Purchased" : "Pending" }}
      </div>
      <div class="form-group">
        <label><strong>Created On:</strong></label>
        {{ currentItem.createdOnDisplay | date: "YYYY-MM-dd HH:mm:ss" }}
      </div>
      <div class="form-group">
        <label><strong>Updated On:</strong></label>
        {{ currentItem.updatedOnDisplay | date: "YYYY-MM-dd HH:mm:ss" }}
      </div>

      <button
        mat-fab
        extended
        *ngIf="currentItem.purchased && !edit"
        (click)="updatePurchased(false)"
      >
        <mat-icon fontIcon="add_reaction"></mat-icon>
        Consume
      </button>
      <button
        mat-fab
        extended
        *ngIf="!currentItem.purchased && !edit"
        (click)="updatePurchased(true)"
      >
        <mat-icon fontIcon="shopping_cart_checkout"></mat-icon>
        Purchase
      </button>

      <button mat-flat-button *ngIf="edit" (click)="deleteItem()">
        <mat-icon fontIcon="delete"></mat-icon>
        Delete
      </button>
      <button mat-flat-button *ngIf="edit" (click)="cancelEdit()">
        <mat-icon fontIcon="undo"></mat-icon>
        Cancel
      </button>

      <button mat-fab extended *ngIf="!edit" type="submit" (click)="editItem()">
        <mat-icon fontIcon="edit"></mat-icon>
        Edit
      </button>

      <button mat-flat-button *ngIf="edit" type="submit" (click)="updateItem()">
        <mat-icon fontIcon="save"></mat-icon>
        Update
      </button>
    </div>
  </form>
</div>

<div class="loadingicon" *ngIf="!currentItem">
  <mat-spinner></mat-spinner>
</div>
