<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Password Reset</h3>

            <div *ngIf="!doneReset">
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="email"
                  id="typeEmailX-2"
                  [(ngModel)]="this.email"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>

              <button
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-lg btn-block pulse-border"
                (click)="handleForgotPassword()"
              >
                Reset your Password
              </button>
              <a routerLink="/signin">Return to login form</a>
            </div>
            <div *ngIf="doneReset">
              <p>Your password reset link should be in your email.</p>
              <button
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-lg btn-block pulse-border"
                routerLink="/signin"
              >
                Return to login form
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
