/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #343a40;
    color: #f8f9fa;
}

mat-card {
    background-color: #343a40 !important;
    color: #f8f9fa !important;
}

.loadingicon {
    margin:auto;
}