<form>
    <label for="email">Email: </label>
    <input
    name="email"
    [(ngModel)]="this.email"
    type="text"
    />
<br/>
    <label for="password">Password: </label>
    <input
    name="password"
    [(ngModel)]="this.password"
    type="text"
    />
<br/>
    <div *ngIf="!loggedin">
        <input type="button" class="btn btn-primary" value="Save" (click)="signUp()" />
        <input type="button" class="btn btn-success" value="Log In" (click)="signIn()" />
    </div>
    <div *ngIf="loggedin">
        <input type="button" class="btn btn-warning" value="Log Out" (click)="signOut()" />
    </div>
</form>